@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --primary-font-family: 'Poppins', sans-serif;
    --light-white: #f5f8fa;
    --grey: #5e6278;
    --grey-1: #e3e3e3;

    --bg-primary: rgba(87,175,224,1);
}

body {
    font-family: var(--primary-font-family);
    font-size: 14px;
}

.btn-primary {
    background-color: var(--bg-primary) !important;
    border-color: var(--bg-primary);
    outline-color: var(--bg-primary);
}
.btn-primary:hover {
    background-color: var(--bg-primary) !important;
    border-color: var(--bg-primary);
    opacity: 0.9;
    outline-color: var(--bg-primary);
}
.btn-primary:focus {
    background-color: var(--bg-primary) !important;
    border-color: var(--bg-primary);
    box-shadow: none !important;
    outline-color: var(--bg-primary);
}


#joinForm,#banner {
    background-color: hotpink;
    padding: 10%;
}

#theory_content {
    padding: 10% 10%;
}


#joinForm input {
    background-color: var(--light-white);
    border-color: var(--light-white);
    color: var(--grey);
}
#joinForm select {
    background-color: var(--light-white);
    border-color: var(--light-white);
    color: var(--grey);
    padding: 15px;
    font-size: 14px;
    color: #333;
}
#joinForm input:focus {
    box-shadow: none;
}
#joinForm select:focus {
    box-shadow: none;
}

.title-txt-sm {
    color: #fff;
    font-family: "Segoe Script";
}

.title-txt {
    color: #fff;
    font-family: "Segoe Script";
    font-size: 4rem;
}

.banner-links a {
    padding: 8px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 10px;
    font-size: 15px;
    transition: 0.5s ease-out;

    background-color: hotpink;
    border: 3px solid #fff;
    color: #fff;
}
.banner-links a:hover {
    background-color: #fff;
    color: #333;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 23px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #fff;
    color: hotpink;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.616);
  }
  
  #myBtn:hover {
    background-color: hotpink;
    color: #fff;
  }