@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --primary-font-family: 'Poppins', sans-serif;
    --light-white: #f5f8fa;
    --grey: #5e6278;
    --grey-1: #e3e3e3;

    --bg-primary: rgba(87,175,224,1);
}

body {
    font-family: var(--primary-font-family);
    font-size: 14px;
    background: #f2f2f2;
}

input,button,textarea,select  {
    box-shadow: none !important;
}

#formSection {
    background-color: #fff;
    width: 70%;
    height: auto;
    margin: 10% auto;
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(126, 125, 125, 0.103);
}

#formSection input {
    background-color: var(--light-white);
    border-color: var(--light-white);
    color: var(--grey);
}
#formSection select {
    background-color: var(--light-white);
    border-color: var(--light-white);
    color: var(--grey);
    padding: 17px;
    font-size: 14px;
    color: #333;
}
#formSection input:focus {
    box-shadow: none;
}
#formSection select:focus {
    box-shadow: none;
}

button {
    background-color: #00d4ff;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.1rem;
    border-radius: 0px 0px 5px 5px;
}
button:hover {
    background-color: #04adc4;
}
button:focus {
    outline: none;
    /* background-color: #44b927; */
}

#err_msg {
    width: 100%;
    padding: 15px;
    background: #f7b5c7;
    border: 1px solid #f5517e;
    color: #e70240;
    border-radius: 3px;
    margin-top: 2%;
}